body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.active {
  background-color: #4caf50;
}

/* .flightResults {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
 */
.navbar-container {
  width: 50 px;
  border: 15px;
  margin: 20px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.flightFilter {
  margin: auto;
}

.flight-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Raleway';
}

.flight-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: medium;
}

.fromToDate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

.select-flight {
  background-color: aliceblue;
  border: 6px solid transparent;
  font-size: medium;
}

.select-flight-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
