body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.active {
  background-color: #4caf50;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.flight-results {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0px;
}
.navbar-container {
  width: 50 px;
  display: inline-block;
  margin: 1em;
}

.flightFilter {
  margin: auto;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-left: 16px;
}

.flight-container {
  width: 70%;
  margin-top: 0%;
  margin: 5%;
  padding: 5%;
  position: relative;
}

.form-container {
  background-color: transparent;
}

.flight-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Raleway';
  margin-bottom: 10px;
  align-items: baseline;
}

.flight-form div {
  margin: 1%;
}

.flight-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: medium;
}

.fromToDate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

.selectFlight {
  background-color: whitesmoke;
  border: 6px solid transparent;
  font-size: medium;
  box-sizing: border-box;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.date-select {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: smaller;
}

.flight-view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  border: 15px transparents;
  padding: 50px;
  margin: 20px;
}

.flt-detail1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

.flt-detail2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}
.flt-detail3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

.selected-flights {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

.main-review-trip {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
